:root {
  --branco: #ffffff;
  --preto:  #0B1D03;
  --Café:   #A0996C;
}

body {
  color: var(--preto);
  margin: 0;
}
header{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
button{ 
  appearance: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.container{
  background-image: url(assets/banner/Banner.png);
  width: 100%;
  height: 700px;
  top: 2px;
}


